<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  
  
  
  <table *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th scope="col">CustomerId </th> 
        <th scope="col">CustomerName </th>
        <th scope="col">CompanyName </th>
        <th scope="col">City </th> 
        <th scope="col">Region </th>
        <th scope="col"> ContatcTitle</th>
        <th scope="col"> Address</th>
        <th scope="col"> Email</th>
        <th scope="col">Country </th>
        <th scope="col">Phone </th>
        <th scope="col"> Fax</th>
 
        
        
















      </tr>
    </thead>
    <tbody>
   
      <tr *ngFor="let customer of  customers ;">
        
        <td>{{ customer.customerId}}</td>
        <td>{{ customer.customerName}}</td>
        <td>{{customer.companyName}}</td>
        <td>{{ customer.city}}</td>
        <td>{{ customer.region}}</td>
        <td>{{ customer.contatcTitle}}</td>
        <td>{{ customer.address}}</td>
        <td>{{ customer.email}}</td>
        <td>{{ customer.country}}</td>
        <td>{{ customer.phone}}</td>
        <td>{{ customer.fax}}</td>
        
  


      </tr>
    </tbody>
     
    
  
  
  </table>
  